.house {
  position: fixed !important;
  top: 0;
  left: 0;

  &.solid-house {
    // width: 50vw !important;
    z-index: -1;
    background: none;
    background-color: rgb(83, 87, 109);

    canvas {
      // width: 50vw !important;
    }
  }

  &.wireframe-house {
    // width: 50vw !important;
    // left: 50vw !important;

    // canvas {
    //   width: 50vw !important;
    // }
    z-index: -2;
    background-color: #000;
  }
}
