@import "../../styles/fonts.scss";

.card-container {
  height: 80px;
  overflow: hidden;
  transition: ease 1s;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;

  &:hover {
    height: 200px;
  }

  .card {
    position: relative;
    height: 100%;
    &:hover img {
      opacity: 0.7;
      transform: translateY(-50%) scale(1.2);
    }

    img {
      opacity: 0.2;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      transition-duration: 1s;
    }

    .project-basic-info {
      position: absolute;
      color: #fff;
      bottom: 0;
      right: 20px;

      div {
        h2 {
          text-align: right;
          // white-space: nowrap;
          font-size: 60px;
          line-height: 80px;
          // font-family: "Limelight", cursive;
          font-family: "Montserrat", sans-serif;
          font-variant-caps: all-small-caps;
        }
      }
    }
  }
}
