.menu-button {
  position: fixed;
  z-index: 2;
  padding: 10px 0 0 10px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  cursor: pointer;

  div {
    width: 35px;
    height: 5px;
    background-color: #fff;
  }
}
