.menu-button {
  $menu-line-height: 1px;
  $gap: 4px;

  position: fixed;
  z-index: 2;
  padding: 20px 10px 10px;
  display: flex;
  flex-direction: column;
  gap: $gap;
  cursor: pointer;

  &:hover {
    div:nth-child(2) {
      transform: translateX(0);
    }
  }

  div {
    width: 30px;
    height: $menu-line-height;
    background-color: #fff;
    transition: all var(--rotation-animation-duration);

    &:nth-child(2) {
      transform: translateX(10px);
    }
  }

  &.clicked {
    div:nth-child(1) {
      transform: rotate(-45deg) translate(0, $gap / 2);
    }

    div:nth-child(2) {
      transform: rotate(45deg) translate(0, -$menu-line-height - $gap / 2);
    }
  }
}
