/* Custom styles goes here */
@import "./utils";
@import "./colors";

.card {
  transition: all 0.3s ease;
}

.navbar-toggler {
  background: url("/images/nav-icon.svg") center center no-repeat;
  z-index: 3;
}

.navbar-toggler.close-nav {
  background: url("/images/close-nav.svg") center center no-repeat;
  background-size: contain;
}

.navbar-toggler:focus {
  outline: none;
}

.modal-dialog {
  max-width: 80% !important;
}

.no-padding {
  padding: 0 !important;
}

.Dropdown-placeholder {
  padding: 0 4px;
}

a:hover {
  text-decoration: none;
}

.delete-icon {
  width: 12px;
  height: 16px;
}

.bucket-delete {
  width: 20px;
}

.group {
  display: flex;
  cursor: pointer;
  align-items: center;
  margin-left: auto;
  cursor: pointer;
  color: $red;
  font-size: 12px;
  font-weight: 600;
  padding-left: 20px;

  .run-status {
    display: flex;
    align-items: center;
    height: 18px;
    border-radius: 3px;
    padding: 1px 6px;
    font-size: 12px;
    color: $white;
    text-transform: capitalize;
    width: max-content;
    margin-right: 6px;
  }

  .single-delete-icon {
    margin-left: 15px;
  }

  .tooltip-wrapper {
    margin: 0 15px 0 25px;
    text-align: center;
  }
}

.blue-button {
  color: #ffffff;
  border: none;
  cursor: pointer;
  padding: 0 10px;
  height: 32px;
  border-radius: 3px;
  background-color: #026c9f;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

input:disabled {
  background-color: $white !important;
}

.no-attachment-div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

textarea,
textarea:focus {
  box-shadow: none !important;
  outline: none !important;
}

.filter-icon {
  cursor: pointer;
  display: flex;
}

.search-icon {
  cursor: pointer;
}

.btn-bug-icon {
  padding-left: 20px;
  background-color: white;
  border: none;

  .bug-icon {
    cursor: pointer;
    width: 12px;
    height: 12px;
  }
}

.case-run-status-passed {
  background-color: #58a03a;
  padding: 3px 18px !important;
}

.case-run-status-blocked {
  background-color: #980303;
  padding: 3px 18px !important;
}

.case-run-status-skipped {
  background-color: #3595ca;
  padding: 3px 18px !important;
}

.case-run-status-failed {
  background-color: #ff0000;
  padding: 3px 18px !important;
}

.case-run-status-new {
  background-color: #54c9fa;
  padding: 3px 18px !important;
}

.case-review-status-proposed {
  background-color: #5ccfff;
}

.case-review-status-confirmed {
  background-color: #007db2;
}

.case-review-status-rejected {
  background-color: #a0a0a0;
}

.automation-level-manual {
  background-color: #48ba36;
}

.automation-level-automated {
  background-color: #159d00;
}

.list-item {
  .details {
    .run-status {
      margin-left: 10px;
    }
  }
}

.run-status {
  height: 18px;
  border-radius: 3px;
  padding: 1px 6px;
  font-size: 12px;
  color: $white;
  text-transform: capitalize;
  width: max-content;
  margin-right: 6px;
}

.test-case-priority-high {
  background-color: #eaa214;
}

.test-case-priority-medium {
  background-color: #c4b392;
}

.test-case-priority-low {
  background-color: #9e9e9e;
}

.test-case-priority-very-high {
  background-color: #ff732f;
}

.test-case-priority-urgent {
  background-color: #ff0000;
}

.run-status-new {
  background-color: #b2a7a7;
}

.run-status-running {
  background-color: #7bd556;
}

.run-status-finished {
  background-color: #3595ca;
}

.case-key {
  padding: 1px 6px;
  border-radius: 3px;
  margin: 6px 6px 6px 0;
  background-color: #c0b6f2;
  font-size: 12px;
  color: #403294;
  text-transform: capitalize;
  width: max-content;
}

.error {
  color: $red;
  font-size: 11px;
}

.dropdown {
  margin-top: -5px;
}

.search_box {
  margin-right: 10px;
  font-size: 11px;
  color: $grey;
  transition: opacity 1s ease-out;
  opacity: 0;
  width: 0;
  height: 20px;
  overflow: hidden;
  transition: width 1s;
  border-radius: 12px;
  border: 1px solid $cerulean;
  padding: 0 5px;
}

.search_box:focus {
  outline: none;
}

.open {
  opacity: 1;
  width: 128px;
}

.body-box {
  display: flex;
  min-height: calc(100vh - 67px);
}

.common-heading {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 9px;
}

.grey-shadow-button {
  color: $grey;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 2px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.04);
  font-size: 11px;
  padding: 0 6px;
  height: 20px;
  margin-left: 10px;
  display: flex;
  align-items: center;

  &:focus {
    outline: none;
  }

  span {
    margin-left: 5px;
    font-weight: normal;
  }
}

.body-wrapper-nav {
  margin-left: 0px !important;
}

.body-wrapper {
  @include mobile {
    margin-left: 0;
  }

  margin-left: 250px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: left;
  width: 100%;
  overflow-x: hidden;
  margin-bottom: 10px;

  form {
    .text-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;

      .error {
        position: absolute;
        font-size: 9px;
        color: $red;
      }

      input {
        padding: 10px;
        margin: 1em;
        outline: none;
        box-shadow: none;
        height: 42px;
        border-radius: 3px;
        border: solid 1px $grey-border;
        font-size: 13px;
        width: 270px;
      }

      p {
        margin: 0 0 0 16px;
        letter-spacing: 0.2px;
        color: #121212;
        font-size: 12px;
        font-weight: 600;
      }

      .project-url {
        margin: 1em;
        color: $blue;
        margin-left: 16px;
        font-size: 13px;
      }

      .row {
        display: flex;
        padding-top: 25px;
        font-size: 12px;
        max-width: 950px;

        .required {
          input {
            border: solid 1px $red;
          }

          .component-name {
            p {
              display: inline;
            }
          }

          .required {
            color: red;
          }

          .custom-text-area {
            border-color: red;
          }

          .select-option-div {
            border: solid 0px $red !important;
          }

          .select-option__control {
            border: solid 1px $red !important;
          }

          .custom-text-area {
            border-color: red;
          }
        }

        .padding-top {
          padding-top: 25px;
        }

        .about-project {
          width: 100%;

          textarea {
            border-radius: 3px;
            border: solid 1px $grey-border;
            font-size: 13px;
            margin: 1em;
            padding: 10px;
            width: 90%;
            max-width: 566px;

            &:focus {
              outline: none;
            }
          }
        }

        .slug-success {
          color: #0b7b00;
          margin-left: 25px;
        }

        .slug-fail {
          color: #f70000;
          margin-left: 16px;
        }

        .check-available {
          font-size: 13px;
          color: #0b7b00;
          font-weight: 600;
          display: flex;
          align-items: center;
          margin-top: 12px;
          margin-left: 12px;
          cursor: pointer;
        }
      }

      .select-option-div {
        input {
          height: 0;
        }
      }
    }
  }

  .add-documents {
    border-top: solid 1px $grey-border;
    border-bottom: solid 1px $grey-border;
    margin: 30px 0;
    padding: 30px 0;
    position: relative;

    h3 {
      letter-spacing: 0.2px;
      color: #121212;
      font-size: 14px;
      font-weight: 600;
    }

    p {
      line-height: 1.38;
      letter-spacing: 0px;
      color: #2c2c2c;
      font-size: 13px;
      margin: 15px 0 20px;

      span {
        font-size: 12px;
        font-weight: 300;
        opacity: 0.89;
      }
    }

    input {
      position: absolute;
      display: none;
    }

    .upload {
      display: flex;
      flex-wrap: wrap;
    }

    .upload-box {
      border: 2px solid $cerulean;
      border-style: dashed;
      border-radius: 50%;
      width: 135px;
      height: 135px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: crosshair;

      p {
        margin: 0;
      }
    }
  }

  .filter-close {
    height: 16px;
    width: 16px;
    background: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    cursor: pointer;
  }

  .right-list {
    .file-list {
      display: block;
    }
  }

  .file-list {
    display: grid;
    grid-template-rows: 40px 40px;

    @include tablet {
      margin-left: 20px;
      grid-template-columns: repeat(2, max-content);
    }
  }

  p {
    font-size: 13px;
  }

  pre {
    font-family: "SFUIText-Regular", sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    color: #2c2c2c;
  }
}

.button-list {
  display: inline-flex;
  font-size: 14px;

  div {
    margin: 0;
    cursor: pointer;
    user-select: none;
    width: 78px;
    height: 32px;
    border-radius: 3px;
    border: solid 2px $grey-border;
    color: #909091;
    display: flex;
    justify-content: center;
    align-items: center;

    &:focus {
      outline: none;
    }
  }

  input {
    margin-right: 20px;
    color: $white;
    border: none;
    cursor: pointer;
    padding: 0 10px;
    height: 32px;
    border-radius: 3px;
    background-color: #026c9f;

    &:focus {
      outline: none;
    }
  }
}

.creation-error {
  font-size: 11px !important;
  color: $red !important;
}

.errorMsg {
  color: $red;
  margin-left: 12px;
}

.blue-text-link {
  color: #2ec1ff;
  margin-left: 15px;
}

.black-text-link,
.black-text-link:hover {
  color: #404040;
  margin-left: 15px;
  color: #404040;
  background-color: transparent;
  box-shadow: none;
}

.grey-text-link {
  color: #616161;
}

.black-text-link:active {
  color: #404040 !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

.blue-text-link,
.black-text-link,
.blue-text-link:focus,
.black-text-link:focus {
  background-color: transparent;
  border: none;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  box-shadow: none;
}


.grey-text-link,
.grey-text-link:focus{
  background-color: transparent;
  border: none;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  margin-left: 50px;

}

.blue-link {
  background-color: white;
  border-width: 0px;
  color: #03b4ff;
  font-size: 16px;
  text-decoration: underline;
  box-shadow: none;
  font-size: 14px;
  padding-left: 0;
  text-align: left;
  cursor: pointer;
}

.product-statistics {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  max-width: 420px;

  @include desktop {
    max-width: 420px !important;
  }

  @include tablet {
    justify-content: space-between;
    max-width: 295px;
  }
}

.select-option__control,
.select-option__control:focus,
.select-option-div,
.select-option__control {
  padding: 20px 10px;
  margin: 1em;
  outline: none;
  box-shadow: none;
  border-radius: 3px;
  font-size: 13px;
  width: 270px;
  border: solid 1px $grey-border !important;

  &:hover,
  &:focus {
    border: solid 1px $grey-border;
  }
}

.select-option-div {
  border: none !important;
  margin: 1em;
}

.select-option__indicator-separator {
  display: none;
}

.select-option__control:focus,
.select-option__control {
  position: absolute !important;
  top: -14px;
  left: -14px;
  padding: 0;
  margin: 0;

  &:hover,
  &:focus,
  &:focus-within {
    border: solid 1px $grey-border !important;
    outline: none;
    box-shadow: none !important;
  }
}

.select-option__control,
.select-option__control:focus {
  top: 0 !important;
  left: 0 !important;
  height: 42px !important;
}

.select-option__input {
  input {
    min-height: 28px !important;
    height: auto !important;
    margin: 0 !important;
  }
}

.select-option__menu {
  left: 0px;
}

.select-option__option:focus,
.select-option__option:active,
.css-z5z6cw {
  background-color: $cerulean !important;
}

.select-option__menu-list {
  div {
    cursor: pointer !important;
    white-space: nowrap;
  }
}

.select-option__indicator.select-option__dropdown-indicator {
  right: 0;
  top: 0;
  justify-content: flex-end;
  width: 100%;
  cursor: pointer;
}

.select-option__value-container {
  height: 100%;
}

.multi-select {

  .select-option__control:focus,
  .select-option__control {
    position: relative !important;
    top: 0;
    left: 0;
    height: auto !important;
    min-height: 42px;
  }

  .select-option__control,
  .select-option__control:focus,
  .select-option-div,
  .select-option__control {
    padding: 0;
    width: auto;
    min-width: 225px;

    &:hover,
    &:focus {
      border: solid 1px $grey-border;
    }
  }

  .select-option__indicator.select-option__clear-indicator {
    display: none;
  }
}

.details-statistics-div {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.disabled {
  pointer-events: none;

  .select-option__control {
    background: #f9f9f9;
  }

  .select-option__dropdown-indicator {
    display: none;
  }
}

.update-status-popup {
  border-width: 0px !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  padding: 0px !important;

  .modal-content {
    width: 666px;
    border-radius: 5px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding: 15px 25px;

    .header {
      font-size: 15px;
      font-weight: 600;
      line-height: 1.47;
      letter-spacing: 0.1px;
      color: #000000;
      border-bottom: 1px solid $black;
    }

    .update-button,
    .update-button:focus {
      width: 120px;
      height: 32px;
      border-radius: 3px;
      background-color: #026c9f;
      color: #ffffff;
      border: none !important;
      font-size: 14px;
      box-shadow: none !important;
    }

    .cancel-button,
    .cancel-button:focus {
      width: 78px;
      height: 32px;
      border-radius: 3px;
      border: solid 1px #a6a6a6 !important;
      color: #909091;
      font-size: 14px;
      background: $white;
      margin-left: 15px;
      box-shadow: none !important;
    }

    .modal-footer {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 20px;
    }

    .modal-body {
      padding: 20px 0;

      .select-option-div {
        margin-left: 0;
        margin-top: 0;
      }

      p {
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 0.2px;
        color: #121212;
      }

      .required {
        margin-left: 5px;
      }

      textarea {
        width: 100%;
        height: 100px;
        border-radius: 3px;
        border: solid 1px #dfe1e5 !important;
        font-size: 14px;
        padding: 10px;
        color: #2c2c2c;
      }
    }
  }
}

.ScrollbarThumb {
  border-radius: 6.5px !important;
  background-color: #0186be !important;
  width: 9px !important;
  margin-left: -3px;
  position: absolute;
}

.ScrollbarTrack {
  width: 3px !important;
  opacity: 0.7 !important;
  border-radius: 6.5px !important;
  background-color: #c0b6f2 !important;
  overflow: visible !important;
}

.button-group {
  .grey-shadow-button {
    margin-left: 0px;
  }
}

.required {
  input {
    border: solid 1px red !important;
  }

  .component-name {
    p {
      display: inline;
    }
  }

  .required {
    color: red !important;
  }

  .custom-text-area {
    border-color: red !important;
  }

  .select-option-div {
    border: solid 0px red !important;
  }

  .select-option__control {
    border: solid 0.5px red !important;
  }

  textarea {
    border: solid 0.5px red !important;
  }
}

input:focus {
  outline: none;
}

.char-limit-message {
  color: grey;
  font-size: 1rem;
  font-style: italic;
  font-weight: 100;
}

.create-testrun {
  .row {
    padding-top: 0 !important;
  }
}

.commentToast {
  background: $cerulean !important;

  .Toastify__close-button {
    display: none;
  }

  .commentToastBody {
    text-align: center;
  }
}

.min-ver-select,
.min-version {
  .version-list {
    left: 0;
  }
}

.max-ver-select,
.max-version {
  .version-list {
    @include mobile {
      left: 0;
      transform: translate(-33%);
    }

    right: 0;
  }
}

.search-box-testcase {
  .select-option__value-container {
    max-height: 50vh;
    overflow-y: auto !important;
  }
}


.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-10 {
  flex: 10;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.align-flex-end {
  align-items: flex-end;
}

.align-self-end {
  align-self: flex-end;
}

.align-flex-end {
  align-items: flex-end;
}

.align-flex-start {
  align-items: flex-start;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.p-20 {
  padding: 20px;

  @media(max-width:350px) {
    padding: 10px;
    padding-top: 20px;
  }
}

.p-rl-20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.p-10 {
  padding: 10px;
}

.p-t-10 {
  padding-top: 10px;
}

.m-t-5 {
  margin-top: 5px;
}

.m-b-5 {
  margin-bottom: 5px;
}

.p-t-20 {
  padding-top: 20px;
}

.p-t-0 {
  padding-top: 0 !important;
}

.p-r-20 {
  padding-right: 20px;
}

.m-0 {
  margin: 0px;
}

.m-t-20 {
  margin-top: 20px;
}

.avatar {
  height: 38px;
  width: auto;
  border-radius: 50%;
}

.m-b-20{
  margin-bottom:20px;
}

.m-b-30{
  margin-bottom:30px;
}

.filter-list-item{
  display:flex;
  align-items: center;
  padding:5px 10px;
  margin-right:10px;

  p{
    margin-bottom:0;
  }
}