@import "../../styles/utils";

.gallery-container {
  margin: 0 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  .slideshow-button {
    position: sticky;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    border-radius: 23px;
    background-color: cadetblue;
    font-size: 14px;
    text-decoration: none;
    color: #000;

    span {
      overflow: hidden;
      width: 85px;
      transition: width 500ms ease;
    }

    img {
      margin: 10px;
      width: 26px;
    }

    &.sticked span {
      width: 0;
    }
  }

  .gallery-header {
    h1 {
      color: #fff;
    }
  }
}
.gallery {
  line-height: 0;
  column-count: 2;
  column-gap: 5px;

  @include tablet {
    column-count: 3;
  }

  @include desktop {
    column-count: 4;
  }

  img,
  video {
    height: auto;
    width: 100%;
    object-fit: contain;
    margin-top: 5px;
    cursor: pointer;
  }
}
