@import "../../styles/fonts.scss";

.project-details-page {
  background-color: #000;

  .project-info {
    height: 100vh;
    opacity: 0.5;
    background-image: linear-gradient(
        to right,
        rgb(0, 0, 0),
        rgba(0, 0, 0, 0.5)
      ),
      url("./house1.jpg");
    position: relative;

    & > * {
      position: absolute;
    }

    .basic-info {
      left: 70px;
      bottom: 50px;
      width: 60%;
      color: #fff;

      h1 {
        font-variant-caps: all-small-caps;
        font-size: 60px;
        line-height: 40px;
      }

      p {
        margin-top: 20px;
      }
    }

    img {
      object-fit: cover;
    }

    .group_image {
      border: 2px solid white;
    }

    .group_image_1 {
      width: 300px;
      height: 200px;
    }

    .group_image_2 {
      width: 200px;
      height: 300px;
      top: 50px;
      left: 250px;
    }

    .group_image_3 {
      width: 250px;
      height: 250px;
      top: 250px;
      left: 50px;
    }

    .main-image {
      width: 50%;
      height: 100%;
      top: 0;
      right: 0;
    }
  }

  .about-the-work {
    overflow-x: hidden;

    .about-cards {
      position: relative;
      margin-top: 50px;
      opacity: 0;
      transition: opacity 500ms ease;

      &:nth-child(even) {
        text-align: end;

        & img {
          transform: translateX(100%);
        }

        & p {
          transform: translate(100%, -50%);
        }
      }

      &:nth-child(odd) {
        & img {
          transform: translateX(-100%);
        }

        & p {
          transform: translate(-100%, -50%);
        }
      }

      img {
        opacity: 0.5;
        background-blend-mode: multiply;
        width: 40%;
        border: 5px solid #fff;
        transition: transform 300ms ease;
      }

      p {
        font-size: 30px;
        // font-weight: 500;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 25%;
        width: 50%;
        transition: transform 400ms ease;
      }

      &.appear {
        opacity: 1;

        & img {
          transform: translateX(0);
        }

        & p {
          transform: translate(0, -50%);
        }
      }
    }
  }
}
