@import "../../styles/fonts.scss";

.canvas1,
.canvas2 {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}

.canvas2 {
  clip-path: inset(0 0 0 0);
  -webkit-clip-path: inset(0 0 0 0);
}

html,
body {
  // overflow: auto;
  ::-webkit-scrollbar {
    width: 0;
  }
}

.house {
  &:first-child {
    left: 0;
  }
}
.project-details-page {
  // height: 100vh;
  // overflow: auto;
  // display: none;
  // overflow: hidden;
  .basic-info-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    // align-items: center;

    .basic-info {
      // position: absolute;
      // left: 70px;
      // bottom: 50px;
      width: 70%;
      color: #fff;
      transition: 1000ms ease;

      h1 {
        font-variant-caps: all-small-caps;
        font-size: 200px;
        // line-height: 40px;
      }

      p {
        margin-top: 20px;
      }
    }

    &.translate-up {
      .basic-info {
        transform: translateY(-100vh);
        opacity: 0;
      }
    }
  }

  .split-block {
    height: 2px;

    &.split-translate {
      transform: translateY(-2px);
    }
  }
  ::-webkit-scrollbar {
    width: 20px !important;
  }

  .about-the-work-container {
    // position: absolute;
    height: 100vh;
    overflow: auto;
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    font-family: serif;
    display: none;

    .about-the-work {
      display: flex;
      justify-content: flex-end;

      .about-the-work-text {
        width: 50%;
        opacity: 0;
        padding: 100px 100px 100px 0;
        text-align: center;
      }
    }

    &.display {
      display: block;
      .about-the-work-text {
        animation: about-project-opacity 1000ms linear forwards,
          about-project-translate 100ms linear forwards;

        @keyframes about-project-opacity {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }

        @keyframes about-project-translate {
          0% {
            transform: translateY(20px);
          }
          100% {
            transform: translateY(0);
          }
        }
      }
    }

    .about-cards {
      overflow: hidden;
      // overflow: scroll;

      .about-card {
        position: relative;
        margin-top: 50px;
        opacity: 0;
        transition: opacity 500ms ease;

        &:nth-child(even) {
          text-align: end;

          & img {
            transform: translateX(100%);
          }

          & p {
            transform: translate(100%, -50%);
          }
        }

        &:nth-child(odd) {
          & img {
            transform: translateX(-100%);
          }

          & p {
            transform: translate(-100%, -50%);
          }
        }

        img {
          width: 40%;
          border: 5px solid #fff;
          transition: transform 300ms ease;
        }

        p {
          font-size: 30px;
          color: #fff;
          position: absolute;
          top: 50%;
          left: 25%;
          width: 50%;
          transition: transform 400ms ease;
        }

        &.appear {
          opacity: 1;

          & img {
            transform: translateX(0);
          }

          & p {
            transform: translate(0, -50%);
          }
        }
      }
    }
  }

  .no-display {
    display: none;
  }
}
