* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html,
body {
  background-color: #000;
  font-family: "Teko", sans-serif;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
